

.loc {
    margin-top: 20px;
    display: flex;                  
    justify-content: center;
    align-content: center;       
}

#container {
    height: 480px;                   
    width: 480px;                    
    display: flex;
    flex-wrap: wrap;
    border: 1px solid green;       
}

.node{
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0;
}


